body {
  background-color: #ffffff;
}

#hold {
  display: inline-flex;
  width: 100%;
}

#click {
  font-size: 40vw;
  height: 100%;
  width: 500vw;
}

#shop {
  height: 100%;
  width: 500vw;
}

h1 {
  font-size: 20px;
}

#history {
  color: #06285e;
  list-style-type: none;
  font-weight: 20px;
}

#adds {
  list-style-type: square;
  font-size: 15px;
  color: #363025;
  opacity: 1;
  text-align: left;
}


