
#hold {
  display: inline-flex;
}

#click {
  background-color: yellow;
  height: 100%;
  width: 500px;
}

#shop {
  background-color: green;
  height: 100%;
  width: 500px;
}

#history {
  color: #06285e;
  list-style-type: none;
  font-weight: 20px;
}


#adds {
  list-style-type: square;
  font-size: 15px;
  color: #363025;
  opacity: 1;
  text-align: left;
}
